.inputPrice :deep(input[type='number']) {
  -moz-appearance: textfield;
}

.inputPrice :deep(input)::-webkit-outer-spin-button,
.inputPrice :deep(input)::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
